<form action='submit' {{on 'submit' this.submitVocab}}>
  <h2>Add vocabulary</h2>
  <label for='url-input'>URL:</label>
  <Input
    id='url-input'
    @value={{this.vocabUrl}}
    placeholder='https://some-url.com/vocab'
  />
  <label for="name-input">Name:</label>
  <Input
    id="name-input"
    @value={{this.vocabName}}
    placeholder="My Vocab"
  />
  <button type='submit'>Add</button>
</form>
{{#if this.errorMsg}}
<p>{{this.errorMsg}}</p>
{{/if}}