<BsModal
  @renderInPlace={{true}}
  @onHide={{@onClose}}
as |modal|>
  <modal.header>
    <h4 class='modal-title'>
      Add Vocabulary
    </h4>
  </modal.header>
  <BsForm
    @formLayout='horizontal'
    @onSubmit={{this.submit}}
    as |form|
  >
    <modal.body>
      <form.element @controlType='text' @label='Name' @property='name' as |el|>
        <el.control placeholder='Name' required />
      </form.element>
      <form.element @controlType='text' @label='download URL' @property='downloadPage' as |el|>
        <el.control placeholder='URL' required />
      </form.element>
      <form.element @controlType='text' @label='format (url)' @property='format' as |el|>
        <el.control placeholder='Name' required />
      </form.element>
      <form.element @controlType='text' @label='sparqlEndpoint' @property='sparqlEndpoint' as |el|>
        <el.control placeholder='Name' />
      </form.element>
    </modal.body>
    <modal.footer>
      <BsButton @onClick={{modal.close}}>Cancel</BsButton>
      <form.submitButton @type="success">Add</form.submitButton>
    </modal.footer>
  </BsForm>
</BsModal>